<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudios realizados</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header> Formación</ion-list-header>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Centro Educativo Invivienda</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Años iniciales y bachillerato</ion-label>
        2006-2019
      </ion-item>

      <ion-item-divider>
        <ion-label>Universidad Tecnológica de Santiago</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Ingenieria en Sistemas Computacionales</ion-label>
        2019-Hoy
      </ion-item>

    </ion-item-group>
  </ion-list>
 
</ion-content>
